# Wrapper Methods

* Greedy search algorithms
* Utilizes a specific classifier to select the optimal set of features
* Sequential feature selection algorithms add or remove one feature at the time based on the classifier performance until a feature subset of the desired size k is reached, or any other desired criteria is met

<b>Three Types of Wrapper Methods</b>
1. Step Forward Feature Selection - begin from no feature and add one at a time
2. Step Backwards Feature Selection - begins from all the features and removes one feature at a time
3. Exhaustive Feature Selection - tries all possible feature combinations

<b>Wrapper Methods Summary:</b>
* Extremely computationally expensive
* Often not feasible due to high number of features in real world dataset
* Feature space optimized for a specific algorithm
* Should provide the highest performance

# Step Forward Feature Selection

### When to stop the search
* Ideal: when performance does NOT increase beyond a threshold. Threshold to be defined by the user
* MLXtend implementation: when certain number of features is reached. (Number of features is defined by the user)

### SFS (Sequential Feature Selection) libraries

* MLxtend vs.
* Scikit-learn (preferred by course instructor)
    * slightly faster
    * can stop based on model performance
    * there are many parameters we already know

# Step Forward Feature Selection (MLXtend example)

In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score

In [2]:
# load the titanic dataset
df = pd.read_csv('../precleaned-datasets/dataset_2.csv')
df.shape

(50000, 109)

In [3]:
df.head()

,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,...,var_100,var_101,var_102,var_103,var_104,var_105,var_106,var_107,var_108,var_109
0,4.532710,3.280834,17.982476,4.404259,2.349910,0.603264,2.784655,0.323146,12.009691,0.139346,...,2.079066,6.748819,2.941445,18.360496,17.726613,7.774031,1.473441,1.973832,0.976806,2.541417
1,5.821374,12.098722,13.309151,4.125599,1.045386,1.832035,1.833494,0.709090,8.652883,0.102757,...,2.479789,7.795290,3.557890,17.383378,15.193423,8.263673,1.878108,0.567939,1.018818,1.416433
2,1.938776,7.952752,0.972671,3.459267,1.935782,0.621463,2.338139,0.344948,9.937850,11.691283,...,1.861487,6.130886,3.401064,15.850471,14.620599,6.849776,1.098210,1.959183,1.575493,1.857893
3,6.020690,9.900544,17.869637,4.366715,1.973693,2.026012,2.853025,0.674847,11.816859,0.011151,...,1.340944,7.240058,2.417235,15.194609,13.553772,7.229971,0.835158,2.234482,0.946170,2.700606
4,3.909506,10.576516,0.934191,3.419572,1.871438,3.340811,1.868282,0.439865,13.585620,1.153366,...,2.738095,6.565509,4.341414,15.893832,11.929787,6.954033,1.853364,0.511027,2.599562,0.811364

In [4]:
#For faster demonstration purposes, subset this data to include the first 20 columns + 'target'
df_sub = df.iloc[:, : 20] #first 20 columns
df_sub2 = df[['target']] #target column

In [5]:
df2 = pd.concat([df_sub, df_sub2], axis=1) #axis=1 to merge across columns

In [6]:
df2

,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,...,var_12,var_13,var_14,var_15,var_16,var_17,var_18,var_19,var_20,target
0,4.532710,3.280834,1.798248e+01,4.404259,2.349910,0.603264,2.784655,0.323146,12.009691,0.139346,...,2.808895,1.244055,11.269688,15.866550,0.00,1.181500e+00,1.903910,4.667888,1.842749,1
1,5.821374,12.098722,1.330915e+01,4.125599,1.045386,1.832035,1.833494,0.709090,8.652883,0.102757,...,2.001220,8.081647,3.933986,14.350374,0.00,1.244384e+01,1.575456,5.275010,2.750981,0
2,1.938776,7.952752,9.726712e-01,3.459267,1.935782,0.621463,2.338139,0.344948,9.937850,11.691283,...,3.239122,2.699376,10.030416,14.977220,0.00,7.636780e-07,2.605838,5.459521,3.437779,0
3,6.020690,9.900544,1.786964e+01,4.366715,1.973693,2.026012,2.853025,0.674847,11.816859,0.011151,...,2.760518,4.067190,14.040960,15.363394,0.94,1.278596e+00,2.447368,4.622004,3.166859,1
4,3.909506,10.576516,9.341910e-01,3.419572,1.871438,3.340811,1.868282,0.439865,13.585620,1.153366,...,1.682118,9.553305,10.341188,9.436362,0.00,1.548740e+01,1.888375,5.975678,1.775326,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,5.392593,1.336383,8.212083e+00,2.966147,2.387417,3.019191,2.289753,0.696969,9.218114,0.451762,...,3.859533,1.418175,11.611067,14.421331,0.92,9.871287e-01,2.095555,4.926871,2.124513,1
49996,3.544616,5.376492,-5.253303e-07,3.469798,3.473573,4.555753,1.238703,0.332744,15.448531,4.587770,...,1.440717,6.600696,14.768869,14.803225,0.00,1.120715e+01,1.392348,4.437067,1.539597,1
49997,4.266667,7.618359,1.728767e+01,3.241785,1.264538,2.392204,2.181862,0.703589,13.643899,1.555709,...,2.341123,2.649408,10.825765,14.916928,0.93,1.629104e-02,2.145410,4.985115,2.254736,1
49998,5.130579,6.749948,1.060437e+01,3.578128,2.770539,2.089231,2.698422,1.165991,11.427852,0.020571,...,3.696110,4.120188,10.762168,13.865338,0.00,3.704309e+00,3.280301,5.414975,2.503469,1
49999,4.537930,6.384039,1.694724e+01,4.297897,2.109488,1.058434,2.442638,0.419355,11.458514,0.044563,...,2.867539,1.693693,9.477326,16.254239,0.00,6.934736e-01,2.017655,4.154889,2.646958,1

In [15]:
#Using mlxtend
from mlxtend.feature_selection import SequentialFeatureSelector as SFS
from mlxtend.feature_selection import ExhaustiveFeatureSelector as EFS

from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier

In [8]:
X_train, X_test, y_train, y_test = train_test_split(
    df2.drop(labels=['target'], axis=1),
    df2['target'],
    test_size=0.3,
    random_state=0)

X_train.shape, X_test.shape

((35000, 20), (15000, 20))

In [9]:
#indicate I want to select 10 features from the total
sfs1 = SFS(RandomForestClassifier(n_jobs=1), #n_jobs = how many processors your computer has
          k_features=10,
          forward=True,
          floating=False,
          verbose=2,
          scoring='roc_auc',
          cv=3)

In [10]:
sfs1 = sfs1.fit(np.array(X_train.fillna(0)), y_train)
#you are supposed to be able to see that after adding the Xth feature, the score will begin to decrease.

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    9.9s remaining:    0.0s

STOPPING EARLY DUE TO KEYBOARD INTERRUPT...

# Step Backward Feature Selection
* Example: Say model has n=4 features
* Remove 1 feature (All possible models with 3 (n-1) features)
* All possible models with 2 features
* Continue until performance does not decrease beyond a threshold (defined by user)

In [11]:
#indicate I want to select 10 features from the total

#forward = False
sfs2 = SFS(RandomForestClassifier(n_jobs=1),
          k_features=10,
          forward=False,
          floating=False,
          verbose=2,
          scoring='roc_auc',
          cv=3)

In [12]:
sfs2 = sfs2.fit(np.array(X_train.fillna(0)), y_train) #similar to above method

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   18.3s remaining:    0.0s

STOPPING EARLY DUE TO KEYBOARD INTERRUPT...

# Exhaustive Search Feature Selection
* Example: Say model has n=4 features
* Will find all possible combinations of 4, 3, 2, and 1 feature models
* Build ML algorithm for all of those combinations
* Takes the most computing resource, often impractical
* To improve performance, you can define the min and max # of features of the subsets to test

In [18]:
efs1 = EFS(RandomForestClassifier(n_jobs=1, random_state=0),
          min_features=1,
          max_features=4,
          scoring='roc_auc',
          print_progress=True,
          cv=2)

In [20]:
efs1 = efs1.fit(np.array(X_train[X_train.columns[0:4]].fillna(0)), y_train) 
#won't be running this since EFS is computationally expensive